**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.venv
**/pip-log.txt
**/.tox
**/.coverage
**/.cache
**/.pytest_cache
**/node_modules
**/.next
**/dist
**/build
**/*.log
**/logs
**/.DS_Store
**/Thumbs.db
